div.container02 {
	background-image: url(https://download.unsplash.com/photo-1429305336325-b84ace7eba3b);
	position: absolute;
	width: calc(100vw * 3);
	height: calc(100vh * 3);
	top: 0;
	left: 0;
	overflow: hidden;
}

	div.intro {
		background-color: white;
		width: 50vw;
		height: 50vh;
		margin-top: calc(100vh / 4);
		margin-left: calc(100vw / 4);
	}

	.item {
		width: 100vw;
		height: 100vh;
		float: left;
	}

	.clear {
		clear: both;
	}

div.welcome {
	width: 100vw;
	height: 100vh;
	position: absolute;
	background-color: black;
	top: 0;
	left: 0;
}

div.home {
	width: 100vw;
	height: 100vh;
	position: absolute;
	background-color: #BADA55;
	top: 100vh;
	left: 100vw;
}

div.signs {
	width: 100vw;
	height: 100vh;
	position: absolute;
	background-color: yellow;
	top: 0;
	left: calc(100vw * 2);
	z-index: 1;
}

div.planets {
	width: 100vw;
	height: 100vh;
	position: absolute;
	background-color: red;
	top: 100vh;
	left: calc(100vw * 2);
}

div.houses {
	width: 100vw;
	height: 100vh;
	position: absolute;
	background-color: blue;
	left: calc(100vw * 2);
	top: calc(100vh * 2);
}